<div class="content-header">
   <h2 ng-show="loading">Loading...</h2>
   <h2>{{page.title}}</h2>
</div>
<div class="blog-nav-links">
   <div class="prev"><a ng-show="page.showPrev" href="#/blog/{{page.prev.slug}}">&#9664; prev</a>&nbsp;</div>
   <div class="next">&nbsp;<a ng-show="page.showNext" href="#/blog/{{page.next.slug}}">next &#9654;</a></div>
</div>
<div class="content-content">
   <h3>{{page.title}}</h3>
   <div ng-show="loading">Loading...</div>
   <div ng-bind-html-unsafe="page.content"></div>
</div>
<div class="blog-nav-links">
   <div class="prev"><a ng-show="page.showPrev" href="#/blog/{{page.prev.slug}}">&#9664; prev</a>&nbsp;</div>
   <div class="next">&nbsp;<a ng-show="page.showNext" href="#/blog/{{page.next.slug}}">next &#9654;</a></div>
</div>
