<article>
   <a href="#blog-content" class="nav-skip">Skip Navigation</a>
   <nav class="page-top-nav">
      <a class="prev" ng-show="page.showPrev" href="#!/blog/{{page.prev}}">&#9664; prev</a>
      <a class="next" ng-show="page.showNext" href="#!/blog/{{page.next}}">next &#9654;</a>
   </nav>
   
   <header>
      <h2 ng-show="loading">Loading...</h2>
      <h2>{{page.title}}</h2>
   </header>
   
   <div ng-show="loading">Loading...</div>
   <div id="blog-content" ng-bind-html-unsafe="page.content"></div>
   
   <nav class="page-bottom-nav">
      <a class="prev" ng-show="page.showPrev" href="#!/blog/{{page.prev}}">&#9664; prev</a>
      <a class="next" ng-show="page.showNext" href="#!/blog/{{page.next}}">next &#9654;</a>
   </nav>
</article>