<article>
   <nav>
      <input type="checkbox" id="details" ng-model="blogDetails"/>
      <label for="details">show details</label>
      <input type="text" ng-model="query"/>
   </nav>
   <header>
      <h2>Blog</h2>
   </header>
   <div ng-show="loading">Loading...</div>
   <article class="blog-item" ng-repeat="post in posts | filter : filterQuery" ng-class="$index % 2 == 0 && 'even' || 'odd'">
      <header>
         <a href="{{post.link}}">{{post.title}}</a>
         <time>{{post.date}}</time>
      </header>
      <div class="blog-roll-details" hideon="blogDetails">
         <div class="blog-roll-preview" ng-bind-html-unsafe="post.content"></div>
      </div>
   </article>
</article>