html,
body {
  height: 100%;
  font-size: 12pt;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  background-color: blendcolorsrgb(#1f2607, #9ba40d);
  /* Old browsers */

  background-image: -moz-radial-gradient(center, ellipse cover, #9ba40d 0%, #1f2607 100%);
  /* FF3.6+ */

  /* @alternate */
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #9ba40d), color-stop(100%, #1f2607));
  /* Chrome,Safari4+ */

  /* @alternate */
  background-image: -webkit-radial-gradient(center, ellipse cover, #9ba40d 0%, #1f2607 100%);
  /* Chrome10+,Safari5.1+ */

  /* @alternate */
  background-image: -o-radial-gradient(center, ellipse cover, #9ba40d 0%, #1f2607 100%);
  /* Opera 12+ */

  /* @alternate */
  background-image: -ms-radial-gradient(center, ellipse cover, #9ba40d 0%, #1f2607 100%);
  /* IE10+ */

  /* @alternate */
  background-image: radial-gradient(ellipse at center, #9ba40d 0%, #1f2607 100%);
  /* W3C */

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: blendcolorsrgb(#1f2607, #9ba40d);
  /* Old browsers */

  background-image: -moz-radial-gradient(center, ellipse cover, #9ba40d 0%, #1f2607 100%);
  /* FF3.6+ */

  /* @alternate */
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #9ba40d), color-stop(100%, #1f2607));
  /* Chrome,Safari4+ */

  /* @alternate */
  background-image: -webkit-radial-gradient(center, ellipse cover, #9ba40d 0%, #1f2607 100%);
  /* Chrome10+,Safari5.1+ */

  /* @alternate */
  background-image: -o-radial-gradient(center, ellipse cover, #9ba40d 0%, #1f2607 100%);
  /* Opera 12+ */

  /* @alternate */
  background-image: -ms-radial-gradient(center, ellipse cover, #9ba40d 0%, #1f2607 100%);
  /* IE10+ */

  /* @alternate */
  background-image: radial-gradient(ellipse at center, #9ba40d 0%, #1f2607 100%);
  /* W3C */

  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1,
h2 {
  font-family: 'Black Ops One', Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 20pt;
}
h2 {
  font-size: 16pt;
}
h3 {
  font-size: 14pt;
  font-weight: bold;
}
a {
  outline: none;
}
img {
  padding: 5px;
}
#page {
  min-height: 100%;
  position: relative;
  width: 900px;
  margin: 0 auto;
}
#header {
  background-color: #303830;
  color: #ffffff;
  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 30px 30px 0 0;
  border-radius: 30px 30px 0 0;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 30px 30px 0 0;
  border-radius: 30px 30px 0 0;
}
#header h1 {
  padding: 0.4em 2em;
}
#body {
  padding-bottom: 40px;
}
#footer {
  background-color: #303830;
  color: #ffffff;
  font-size: 9pt;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 5px;
  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius: 0 0 30px 30px;
  border-radius: 0 0 30px 30px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius: 0 0 30px 30px;
  border-radius: 0 0 30px 30px;
}
#footer .login {
  float: left;
}
#footer .login a {
  color: #ffffff;
  text-decoration: none;
}
#footer .login a:hover {
  text-decoration: underline;
}
#footer .copy {
  text-align: right;
}
#footer .copy,
#footer .login {
  padding: 1em 3em;
}
.nav-skip {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/*
 * MAIN-MENU
 */
#main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 15px;
  background-color: #303830;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #303830 0%, #181d18 100%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #303830), color-stop(100%, #181d18));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #303830 0%, #181d18 100%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #303830 0%, #181d18 100%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #303830 0%, #181d18 100%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #303830 0%, #181d18 100%);
  /* W3C */

  background-color: #303830;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #303830 0%, #181d18 100%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #303830), color-stop(100%, #181d18));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #303830 0%, #181d18 100%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #303830 0%, #181d18 100%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #303830 0%, #181d18 100%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #303830 0%, #181d18 100%);
  /* W3C */

  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
}
#main-menu li {
  display: inline;
}
#main-menu a {
  background: transparent;
  color: #ffffff;
  text-decoration: none;
  line-height: 2;
  padding: 0.5em 1em;
}
#main-menu a.active {
  padding: 0.5em 2em 0.9em 2em;
  font-weight: bold;
  background-color: #303830;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #303830 0%, #485348 100%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #303830), color-stop(100%, #485348));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #303830 0%, #485348 100%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #303830 0%, #485348 100%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #303830 0%, #485348 100%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #303830 0%, #485348 100%);
  /* W3C */

  background-color: #303830;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #303830 0%, #485348 100%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #303830), color-stop(100%, #485348));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #303830 0%, #485348 100%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #303830 0%, #485348 100%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #303830 0%, #485348 100%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #303830 0%, #485348 100%);
  /* W3C */

  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
/*
 * Content
 */
.content-header {
  padding: 1em 0 0.5em 1em;
  border: 1px dotted #181d18;
  /*background-color: darken(@BG_DIALOG, 20%);*/

  background-color: #440152;
  color: #ffffff;
  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}
.content-content {
  padding: 0.5em 1em;
  margin: 0.75em 0;
  background-color: #c1bc69;
  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}
p {
  margin: 1.25em 0;
  line-height: 1.3;
}
code {
  font-family: monospace;
  font-size: 11pt;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
ol {
  list-style-type: decimal;
  margin-left: 3em;
}
dt {
  font-weight: bold;
  margin: 0.2em 0 0.2em 1em;
}
dd {
  margin: 0.25em 0 0.45em 3em;
}
blockquote {
  margin: 0 3em;
  padding: 0 0.5em;
  border: 1px dotted #000000;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.content-content a {
  color: #2f0039;
  text-decoration: none;
}
.content-content a:hover {
  text-decoration: underline;
}
.content-content ul {
  list-style-type: disc;
  margin-left: 3em;
}
/*
 * Blog and Blog Roll
 */
.proj-roll-actions,
.blog-roll-actions {
  float: right;
  margin: -1.7em 1em 0 0;
}
.proj-roll-actions input,
.blog-roll-actions input {
  border: none;
}
.proj-roll-actions label,
.blog-roll-actions label {
  margin-right: 2em;
}
.proj-roll-item,
.blog-roll-item {
  padding: 1em;
  margin: 0.5em 0 0.75em 0;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.proj-roll-item.even,
.blog-roll-item.odd {
  background-color: #c8c47b;
}
.blog-roll-link {
  float: left;
}
.blog-roll-date,
.blog-roll-author {
  font-size: 11pt;
}
.blog-roll-date {
  text-align: right;
}
.blog-roll-details {
  clear: both;
}
.blog-nav-links {
  background-color: #440152;
  padding: 0.5em 0.75em;
  margin: 0.75em 0;
  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -moz-box-shadow: 1px 3px 3px #010101;
  -webkit-box-shadow: 1px 3px 3px #010101;
  box-shadow: 1px 3px 3px #010101;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.blog-nav-links .prev {
  float: left;
}
.blog-nav-links .next {
  text-align: right;
}
.blog-nav-links a {
  color: #fff;
  text-decoration: none;
}
.blog-nav-links a:hover {
  text-decoration: underline;
}
hr {
  border: 1px dotted #000000;
}
