h1,
h2 {
  font-family: 'Black Ops One', 'Arial Black', Helvetica, Arial, sans-serif;
}
#header {
  border: none;
  border-right: 1px solid #010101;
  border-bottom: 1px solid #010101;
}
#footer {
  border: none;
  border-right: 1px solid #010101;
  border-bottom: 1px solid #010101;
}
/*
 * MAIN-MENU
 */
#main-menu ul {
  border: none;
  border-right: 1px solid #010101;
  border-bottom: 1px solid #010101;
}
#main-menu a.active {
  border: none;
  border-right: 1px solid #010101;
  border-bottom: 1px solid #010101;
}
/*
 * Content
 */
.content-header {
  border: none;
  border-right: 1px solid #010101;
  border-bottom: 1px solid #010101;
}
.content-content {
  border: none;
  border-right: 1px solid #010101;
  border-bottom: 1px solid #010101;
}
/*
 * Blog and Blog Roll
 */
.blog-nav-links {
  border: none;
  border-right: 1px solid #010101;
  border-bottom: 1px solid #010101;
}
